// Here you can add other styles
.logo-box {
  width: 100px;
  margin: 0 auto;
}
h4 {
  color: #6c6c6c;
  text-transform: capitalize;
}

.app-header.navbar {
  .navbar-brand {
    background-image: none;
    padding-top: 12px;
  }
}

a {
  color: #6c6c6c;
}

.sidebar {
  background-color: #363636 !important;

  .nav {
    .nav-title {
      background-color: #141414;
    }
    .nav-item {
      .is-small {
        font-size: .75em;
        padding-left: 50px;
      }
      .nav-link {
        &.active {
          color: $sidebar-nav-link-active-color;
          background: #1f1f1f;
        }

      }
    }
  }
}
.add-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: -25px;
}
.add-btn-simple {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  bottom: -25px;
  color: #f2f2f2;
}
.add-btn-simple:hover {
  color: #f2f2f2;
}
.shadow-1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}
.shadow-2 {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.45);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.45);
}
.shadow-2:hover {
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.45);
  box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.45);
}
.card-footer {
  background-color: #fff;
}

.navbar-divider {
  background-color: #fff !important;
}

.nav-link {
  cursor: pointer;
}

.is-small {
  font-size: .85em;
}
.is-bold {
  font-weight: bold;
}

.has-border {
  border: 1px solid #e0e0e0;
  // padding-bottom: .75em;
}

.has-border-bottom {
  border-bottom: 1px solid #e0e0e0;
  // padding-bottom: .75em;
}
.has-border-bottom-2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: .75em;
}
.has-margin-10 {
  margin-top: 10em;
}
.has-margin-5 {
  margin-top: 5em;
}
.has-margin-3 {
  margin-top: 3em;
}
.has-margin-2 {
  margin-top: 2em;
}
.has-margin-1 {
  margin-top: 1em;
}
.has-padding {
  padding: 1.5em 0;
}
.has-padding-side {
  
}
.has-margin-right-3 {
  margin-right: 3em;
}
.is-right {
  text-align: right
}
.danger {
  color: #ee4f4f;
}
.warning {
  color: #ffb85c;
}
.more-actions {
  margin-top: -5px;
}
.success {
  color: #72C247;
}
.primary {
  color: #3386ff;
}
.gray-link {
  color: #6c6c6c;
}
.gray-link:hover {
  color: #cead69;
  text-decoration: none;
}
img {
  width: 100%;
}
.img-thumb {
  width: 150px;
  padding: 10px;
}

.loading-row {
  height: 100vh;
  width: 100%;
}

.loading-pulse {
  position: relative;
  margin:0 auto;
  width: 6px;
  height: 40px;
  background: rgba(51, 134, 255, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 6px;
  background: rgba(51, 134, 255, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}
.loading-pulse:before {
  left: -12px;
}
.loading-pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
@-webkit-keyframes pulse {
  50% {
    background: #3386ff;
  }
}
@keyframes pulse {
  50% {
    background: #3386ff;
  }
}

.sidebar {
  display: block;
}

@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
